body{
    background-color:#999999;
    margin:0;
}

.form_outsec{
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    height: 560px;
    width: 580px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 4px 3px 10px 4px ;
}

.form_insec{
    height:520px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    padding:5px;
}

.name{
    display:flex;
    margin-top: -20px;
}

.name h1{
 font-size: 32px;
 font-weight: 800;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.name p{
    margin-top: 40px;
    margin-left: 5px;
}

option{
    background-color:#3d3d3a;
     color: white;
}

.input_sec label{
  font-size: 17px;
  font-weight: bold;
}

.input_sec input{
    width: 250px;
    height: 24px;
    padding: 2px;
    padding-left: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 3px 5px 2px #d4d2d2 ;
    margin-top: 3px;
}

.input_sec textarea:hover,input:hover,select:hover{
    border:2px solid rgb(214, 29, 29);
}

textarea{
    padding: 9px;
    border: 2px solid #ccc;
    box-shadow: 4px 3px 5px 2px #d4d2d2 ;
}

select{
    height: 28px;
    width: 257px;
    border: 1px solid black;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-shadow: 4px 3px 5px 2px #d4d2d2 ;
}
    

footer{
margin-top: 30px;
display: flex;
flex-direction: column;
align-items: end;
margin-right: 15px;
}

button{
    background-color: rgb(255, 49, 49);
    color: white;
    height: 30px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    text-align: center;
    border: 3px transparent;
}

button:hover{
    height: 32px;
    width: 105px;
    border: 3px solid  rgb(255, 49, 49);
    background-color: #e3dede;
    color: #3d3d3a;
    font-weight: bold;
}

